{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">This is the homepage for students
    <br />
    <br />
    <a href="assignments-s" id="submission"><button class="btn btn-primary">View assignments</button></a>
    <a href="student-courses" id=""><button class="btn btn-primary">My courses</button></a>
    <a href="settings" id="submission"><button class="btn btn-primary">User settings</button></a>
    <a href="assignments-s" id="submission"><button class="btn btn-primary">Notifications</button></a>
    <br />
    <br />
    <form method="POST">
        <div align="center">
            <input
              type="text"
              class="form-control"
              id="course_id"
              name="course_id"
              placeholder="Enter the enrollment id of the course"
              maxlength="6"
            />
            <a href="course-s" id="submission">
            <button type="submit" class="btn btn-primary">Enroll</button>
            </a>
        </div>
    </form>
    </h1>
    {% endblock %}