{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">This is the homepage for teachers
    <br />
    <br />
    <a href="assignments-t" id="creation"><button class="btn btn-primary">Create assignments</button></a>
    <a href="assignments-s" id="submission"><button class="btn btn-primary">Manage courses</button></a>
    <a href="assignments-s" id="submission"><button class="btn btn-primary">User settings</button></a>
    <a href="assignments-s" id="submission"><button class="btn btn-primary">Notifications</button></a>
    </h1>
    {% endblock %}