{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">MY COURSES
<br /><br />
<ul class="list-group list-group-flush" id="courses">
    {% for course in courses %}
    <li class="list-group-item">{{ course.name }}
        <a href="{{ '/course/%s'%course.id }}" id="course"><button class ="bi bi-eye" data-toggle="tooltip" data-placement="top" title="View course"></button></a>
        <button class="bi bi-person-lines-fill" data-toggle="tooltip" data-placement="top" title="View enrolled students" onClick="enrolledStudents({{ course.id }})"></button>
        <button type="button" class="bi bi-x" data-toggle="tooltip" data-placement="top" title="Unenroll from this course" onClick="unenrollMe('{{ course.id }}','{{ user.id }}')"></button>
    </li>
    {% endfor %}
</ul>
</h1>
{% endblock %}
