{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">Manage assignments</h1>
    <form method="POST" enctype="multipart/form-data" >
        <textarea name="assignment" id="assignment" class="form-control" minlength="1" required></textarea><br /> 
        <div align="center">
            <button type="submit" value="Upload" class="btn btn-primary">Add Assingment</button>
        </div>
        <input type="file" name="file" />   
        
    </form> 
    <br />
    <ul class="list-group list-group-flush" id="assignments">
        {% for assignment in assignments %}
        <li class="list-group-item">{{ assignment.data }}
            <button type="button" class="close" onClick="deleteAssignment('{{ assignment.id }}','{{ assignment.course_id }}')">
                <span aria-hidden="true">&times;</span>
            </button>
            {% if assignment.file %}
            <a href="{{ '/downloadAssignment/%s'%assignment.id }}" class="button">DOWNLOAD ATTACHMENT</a>
            {% endif %}
            <a href="{{ '/Submissions/%s'%assignment.id }}"><button class ="bi bi-eye" data-toggle="tooltip" data-placement="top" title="View submissions"></button></a>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
    